.project-item {
  background-color: none !important;
  padding: 0px !important;
  border-radius: 0px !important ;
  box-shadow: none !important;
  transition: none !important;
  transform: none !important;
}
