.testimonials-area {
  padding: 100px 0;
  overflow: hidden;
}
.slider-arrows button:last-child {
  // transform: rotate(0deg);
  // margin-top: 1vh;
}
.slider-arrows {
  .sdfs svg {
    // padding-top: 50vh;
    transform: rotate(45deg) !important;
  }
}
.section-title {
  padding-left: 2vh;
  span {
    font-size: 16px;
    color: #ffffffa6;
  }
  margin-bottom: 5vh;
  h2 {
    margin-top: 5vh;
    color: white;
    font-size: 45px;
    margin-bottom: 5vh;

    span {
      color: #c9f31d;
      font-size: 45px;
    }
  }
  p {
    font-size: 16px;
    color: #ffffffa6;
  }
}
.testimonial-item {
  span {
    font-size: 16px;
    // color: #ffffffa6;
    color: #c9f31d;
  }
  h5 {
    color: white;
    font-size: 45px;
    span {
      font-size: 45px;
    }
  }
  p {
    font-size: 16px;
    color: #ffffffa6;
  }
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: 0;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.testimonial-item {
  transition: 0.5s;
  text-align: center;
  padding: 50px 60px;
  border-radius: 16px;
  background: var(--black-color);
  border: 1px solid #1f1f1f;
  //   border: 2px solid #907575;
  margin-left: 4vh;
  //   padding-right: 4vh/;
  &:hover {
    // border: 2px solid #c9f31d;
    background-color: #1f1f1f;
  }
}
@media only screen and (max-width: 1199px) {
  .testimonial-item {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.testimonial-item .author {
  position: relative;
  margin-bottom: 35px;
  display: inline-block;
  font-size: 22px;
}
.testimonial-item .author img {
  display: inline-block;
}
.testimonial-item .author:before {
  content: url("../../assets/about-dot.png");
  position: absolute;
  right: 90%;
  top: 5px;
  font-weight: 900;
  transition: 0.5s;
  color: var(--primary-color);
  width: 60px;
  height: 60px;
  background: #1f1f1f;
  background: url(../../assets/menu.png);
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-family: Font Awesome\5 Pro;
  img {
    color: #000000 !important;
  }
  &:hover {
    background-color: #000000 !important;
    img {
      color: #131313 !important;
    }
  }
}
.testimonial-item .text {
  margin-bottom: 30px;
  color: #ffffffa6;
}
.testimonial-item .testi-des h5 {
  margin-bottom: 0;
}
@media only screen and (min-width: 376px) {
  .testimonial-item .testi-des h5 {
    font-size: 22px;
  }
}
.testimonial-item .testi-des span {
  font-size: 14px;
  color: #c9f31d;
}
.testimonial-item:hover {
  background: #131313;
}
.testimonial-item:hover .author:before {
  color: var(--black-color);
  background: var(--primary-color);
}
.testimonials-wrap {
  margin-left: -15px;
  margin-right: -15px;
}
.testimonials-wrap .testimonial-item {
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 786px) {
  .slider-arrows {
    visibility: hidden;
  }
}
